/* utility settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 12px;
}

.unstyle-list {
    list-style: none;
}

.unstyle-a {
    text-decoration: none;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
}

a:hover {
    filter: brightness(200%);
}

.border-gray {
    border: 1px solid gray;
}

.border-b-gray {
    border-bottom: 1px solid gray;
}

.border-top-gray {
    border-top: 1px solid gray;
}

.line-height20 {
    line-height: 20px;
}

.change-arrow {
    cursor: pointer;
}

/* margin top */

.margin-top100 {
    margin-top: 100px;
}

.margin-top80 {
    margin-top: 80px;
}

.margin-top50 {
    margin-top: 50px;
}

.margin-top40 {
    margin-top: 40px;
}

.margin-top30 {
    margin-top: 30px;
}

.margin-top20 {
    margin-top: 20px;
}

.margin-top10 {
    margin-top: 10px;
}

/* margin bottom */

.margin-bottom20 {
    margin-bottom: 20px;
}

/* margin left */

.margin-left10 {
    margin-left: 10px;
}

.margin-left20 {
    margin-left: 20px;
}

/* margin right */

.margin-right10 {
    margin-right: 10px;
}

/* padding top */

.padding-top20 {
    padding-top: 20px;
}

.padding-top30 {
    padding-top: 30px;
}

.padding-top40 {
    padding-top: 40px;
}

.padding-top50 {
    padding-top: 50px;
}

.padding-top100 {
    padding-top: 100px;
}

/* padding left */

.padding-left20 {
    padding-left: 20px;
}

/* padding-bottom */

.padding-bottom20 {
    padding-bottom: 20px;
}

/* padding % */

.padding-1 {
    padding: 1%;
}

.padding-2 {
    padding: 2%;
}

/* margin % */

.margin-1 {
    margin: 1%;
}

/* margin Xpx 0; */

.margin10-0 {
    margin: 10px 0;
}

.margin20-0 {
    margin: 20px 0;
}

.margin30-0 {
    margin: 30px 0;
}

.margin50-0 {
    margin: 50px 0;
}

.margin80-0 {
    margin: 80px 0;
}

.margin100-0 {
    margin: 100px 0;
}

/* padding Xpx 0 */

.padding10-0 {
    padding: 10px 0;
}

.padding20-0 {
    padding: 20px 0;
}

.padding30-0 {
    padding: 30px 0;
}

.padding40-0 {
    padding: 40px 0;
}

.padding50-0 {
    padding: 50px 0;
}

.padding80-0 {
    padding: 80px 0;
}

.padding100-0 {
    padding: 100px 0;
}

/* font size */

.font-size10 {
    font-size: 10px;
}

.font-size12 {
    font-size: 12px;
}

.font-size16 {
    font-size: 16px;
}

.font-size30 {
    font-size: 30px;
}

.font-size35 {
    font-size: 35px;
}

.font-size40 {
    font-size: 40px;
}

/* text align */

.txt-c {
    text-align: center;
}

.txt-r {
    text-align: right;
}

/* inline/inline-block */

.inline-b {
    display: inline-block;
}

.inline {
    display: inline;
}

/* Position */

.p-rel {
    position: relative;
}

.p-abs {
    position: absolute;
}

.p-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* flex settings */

.flex-r {
    display: flex;
}

.flex-rr {
    display: flex;
    flex-direction: row-reverse;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.flex-cr {
    display: flex;
    flex-direction: column-reverse;
}

.j-c-f-s {
    justify-content: flex-start;
}

.j-c-f-e {
    justify-content: flex-end;
}

.j-c-c {
    justify-content: center;
}

.j-c-s-b {
    justify-content: space-between;
}

.j-c-s-a {
    justify-content: space-around;
}

.a-i-f-s {
    align-items: flex-start;
}

.a-i-c {
    align-items: center;
}

.a-i-f-e {
    align-items: flex-end;
}

.a-i-stretch {
    align-items: stretch;
}

.a-i-baseline {
    align-items: baseline;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-r {
    flex-wrap: wrap-reverse;
}

.basis1-3 {
    flex-basis: calc(100% / 3);
}

.basis1-2 {
    flex-basis: calc(100% / 2);
}

.basis1-4 {
    flex-basis: calc(100% / 4);
}

/* flex column */

.col1-3 {
    flex-basis: calc(100% / 3);
}

.col-20 {
    flex-basis: 20%;
}

.col-30 {
    flex-basis: 30%;
}

.col-32 {
    flex-basis: 32%;
}

.col-39 {
    flex-basis: 39%;
}

.col-59 {
    flex-basis: 59%;
}

.col-50 {
    flex-basis: 50%;
}

.col-25 {
    flex-basis: 25%;
}

.col-40 {
    flex-basis: 39%;
}

.col-60 {
    flex-basis: 60%;
}

.col-70 {
    flex-basis: 70%;
}

/* button */

.btn {
    padding: 5px 15px;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(150%)
}

.blue {
    background-color: #297AFE;
    color: white;
}

.white {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* float */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

/* container misures */

.container-80 {
    width: 80%;
    margin: auto;
}

.container-70 {
    width: 70%;
    margin: auto;
}

.container-60 {
    width: 60%;
    margin: auto;
}

.container-55 {
    width: 55%;
    margin: auto;
}

.container-50 {
    width: 50%;
    margin: auto;
}

/* header */

.navbar {
    background-color: white;
    height: 60px;
    width: 100%;
    padding: 15px 20px;
    position: fixed;
    border-bottom: 1px solid #CFCFD2;
    z-index: 1;
}

header .logo,
header ul,
header a {
    vertical-align: middle;
    text-decoration: none;
}

header ul a {
    padding: 30px 0;
}

header ul a:hover {
    padding-bottom: 22px;
    border-bottom: 2px solid #3A61F8;
}

header .logo,
header ul {
    margin-top: 3px;
}

header .btn {
    position: relative;
    top: 0;
    float: right;
    margin-left: 15px;
}

.logo {
    float: left;
    margin-right: 15px;
    width: 100px;
}

.logo img {
    width: 100%;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

/* jumbotron */

.jumbotron {
    padding-top: 50px;
    background-color: #64cbd3;
}

.jumbotron .title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;
}

.jumbo-text p {
    margin-bottom: 25px;
    font-size: 12px;
}

.jumbo-text>div {
    padding-top: 25px;
}

.fa-arrow-down {
    padding-top: 30px;
    color: black;
    font-size: 30px;
}

/* .container-60 {
    position: relative;
    top: 50px;
} */

#jumbo {
    position: relative;
    top: 50px;
}

/* business plans section */

#plans-table .col-title {
    text-align: center;
}

#plans-table li {
    text-indent: -10px;
    padding-left: 1.2em;
    line-height: 20px;
    padding-top: 2rem;
}

#plans-table .btn {
    margin: 10% 0;
    width: 100%;
}

.short-line {
    margin: 20px 0;
    width: 40px;
    height: 2px;
    background-color: gray;
}

.fa-check {
    color: #297AFE;
}

/* enterprise section */

#enterprise-btn {
    text-align: right;
    padding-top: 30px;
}

#h3enterprise {
    margin: 20px 0;
}

/* business section */

#business-title {
    font-size: 2em;
}

/* 500k team */

#team-title {
    font-size: 2em;
}

/* squares section */

#squares {
    height: calc(100vW / 3);
}

.col1-3>.col-50 {
    height: 50%;
    cursor: pointer;
}

#squares img {
    width: 60%;
    filter: invert(97%);
}

#s-one {
    background-size: 60%;
    background-color: #A2D39B;
    border: 10px solid transparent;
}

#s-two {
    background-size: 60%;
    background-color: #61082B;
    border: 10px solid transparent;
}

#s-three {
    background-size: 60%;
    background-color: #0093CE;
    border: 10px solid transparent;
}

#s-four {
    background-size: 60%;
    background-color: #FF1C1C;
    border: 10px solid transparent;
}

#s-five {
    background-size: 60%;
    background-color: #D5001F;
    border: 10px solid transparent;
}

#s-six {
    background-size: 60%;
    background-color: #B4D0E7;
    border: 10px solid transparent;
}

#s-seven {
    background-size: 60%;
    background-color: #0D2481;
    border: 10px solid transparent;
}

#s-eight {
    background-size: 60%;
    background-color: #FFD830;
    border: 10px solid transparent;
}

#s-central {
    background-color: lightgrey;
}

#s-central-in {
    width: 100%;
    padding: 2%;
    background-image: url('../img/designit.svg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 60%;
}

#s-central-in>.short-line {
    margin-top: 30%;
    width: 30%;
}

#c-txt {
    overflow: auto;
    height: 40%;
}

#button-square {
    background-color: #9fe4e9;
}

/* FAQ section */

.txt-section p {
    margin: 30px 0;
    display: none;
}

.FAQ:hover p {
    display: block;
}

.FAQ:hover .fa-chevron-down {
    transform: rotate(3.142rad);
}

/* footer */

footer {
    background-color: black;
    color: white;
}

footer h3 {
    padding: 20px 0;
}

footer li {
    padding: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

#footer-line {
    width: 120px;
    height: 1px;
    background-color: white;
}

#language-section>div {
    display: inline;
}

#language-section {
    padding-bottom: 50px;
}