/* utility settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.unstyle-list {
    list-style: none;
}

.unstyle-a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* margin/padding */

.margin-top100 {
    margin-top: 100px;
}

.margin-top50 {
    margin-top: 50px;
}

.margin-left10 {
    margin-left: 10px;
}

.margin-left20 {
    margin-left: 20px;
}

.margin-tb {
    margin: 20px 0;
}

.margin-1 {
    margin: 1%;
}

.padding-top50{
    padding-top: 50px;
}

.padding-top100{
    padding-top: 100px;
}

.padding-1 {
    padding: 1%;
}

/* font size */

.font-size10{
    font-size: 10px;
}

.font-size12{
    font-size: 12px;
}

.font-size16{
    font-size: 16px;
}

.font-size30{
    font-size: 30px;
}

.font-size35{
    font-size: 35px;
}

.font-size40{
    font-size: 40px;
}

/* text align */

.txt-c {
    text-align: center;
}

.txt-r {
    text-align: right;
}

/* inline/inline-block */

.inline-b {
    display: inline-block;
}

.inline {
    display: inline;
}

/* Position */

.p-rel {
    position: relative;
}

.p-abs {
    position: absolute;
}

.p-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* flex settings */

.flex-r {
    display: flex;
}

.flex-rr {
    display: flex;
    flex-direction: row-reverse;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.flex-cr {
    display: flex;
    flex-direction: column-reverse;
}

.j-c-f-s {
    justify-content: flex-start;
}

.j-c-f-e {
    justify-content: flex-end;
}

.j-c-c {
    justify-content: center;
}

.j-c-s-b {
    justify-content: space-between;
}

.j-c-s-a {
    justify-content: space-around;
}

.a-i-f-s {
    align-items: flex-start;
}

.a-i-c {
    align-items: center;
}

.a-i-f-e {
    align-items: flex-end;
}

.a-i-stretch {
    align-items: stretch;
}

.a-i-baseline {
    align-items: baseline;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-r {
    flex-wrap: wrap-reverse;
}

.basis1-3 {
    flex-basis: calc(100% / 3);
}

.basis1-2 {
    flex-basis: calc(100% / 2);
}

.basis1-4 {
    flex-basis: calc(100% / 4);
}

/* flex column */

.col1-3 {
    flex-basis: calc(100% / 3);
}

.col-30 {
    flex-basis: 30%;
}

.col-32 {
    flex-basis: 32%;
}

.col-40 {
    flex-basis: 40%;
}

.col-50 {
    flex-basis: 50%;
}

.col-25 {
    flex-basis: 25%;
}

.col-40 {
    flex-basis: 39%;
}

.col-60 {
    flex-basis: 59%;
}

.col-70 {
    flex-basis: 70%;
}

/* button */

.btn {
    padding: 5px 15px;
    text-decoration: none;
}

.blue {
    background-color: #297AFE;
    color: white;
}

.white {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* float */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

/* container misures */

.container-80 {
    width: 80%;
    margin: auto;
}

.container-70 {
    width: 70%;
    margin: auto;
}

.container-60 {
    width: 60%;
    margin: auto;
}

.container-55 {
    width: 55%;
    margin: auto;
}

.container-50 {
    width: 50%;
    margin: auto;
}

/* header */

.navbar {
    background-color: white;
    height: 60px;
    width: 100%;
    padding: 15px 20px;
    position: fixed;
    border-bottom: 1px solid #CFCFD2;
    z-index: 1;
}

header .logo,
header ul,
header a {
    vertical-align: middle;
    text-decoration: none;
}

header ul a {
    padding: 30px 0;
}

header .logo,
header ul {
    margin-top: 3px;
}

header .btn {
    position: relative;
    top: 0;
    float: right;
    margin-left: 15px;
}

.logo {
    float: left;
    margin-right: 15px;
    width: 100px;
}

.logo img {
    width: 100%;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

/* jumbotron */

.jumbotron {
    padding-top: 50px;
    background-color: #64cbd3;
}

.jumbotron .title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;
}

.jumbo-text p {
    margin-bottom: 25px;
    font-size: 20px;
}

.jumbo-text>div {
    padding-top: 20px;
}

.fa-arrow-down {
    padding-top: 30px;
    color: black;
    font-size: 50px;
}

.container-60 {
    position: relative;
    top: 50px;
}